# Node.js
node_modules/
npm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
*.expo
*.log

# macOS / Linux
.DS_Store
.env

# Android/iOS build outputs (if you ever eject)
android/
ios/

# Editor files
.vscode/
.idea/
